# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Masato\OneDrive - 佐賀大学(edu)\中山研究室\Project\SahasraDiffrenceDetector-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/venv/